.filter {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    gap: 10px 50px ;
    font-size: 25px;
    margin-right: auto ;
    margin-left: auto;
    width: 1000px;
    /* background-color: rebeccapurple; */
}

.filter select {
    font-size: 20px;
    width: 250px;
    height: 35px;
}